body{
    background-color: #3E3E3E;
}

/* Content 1 */

.content-1 {
    margin-left: 80px;
    margin-right: 80px;
}
.content-1 h1 {
    margin-top: 100px;
    color: #B9AFAF;
    font-size: 60pt;
    font-family: oswald;
}

.content-1 .name {
    margin-bottom: -80px;
}

.content-1 h2{
    color: #B9AFAF;
    font-size: 60pt;
    font-family: oswald;
    margin-top: 100px;
}

p{
    margin-top: 20px;
    font-size: 14pt;
    color: #B9AFAF;
}

.content-1 button{
    margin-top: 20px;
    border-radius: 10px;
}
/* End Content 1 */

/* Content 2 */
.content-2 {
    margin-top: 220px;
    margin-left: 80px;
    color: #B9AFAF ;
}
.content-2 h2 {
    font-size: 40pt;
    font-family: oswald;
    display: inline;
}

.content-2 .line {
    margin-top: 30px;
    margin-left: -100px;
    width: 350px;
    height: 5px;
    background-color: #B9AFAF;
}

.content-2 p{
    max-width: 700px;
}

.content-2 li {
    font-size: 18px;
}

.content-2 img {
    margin-left: 50px;
    margin-top: -50px;
    width: 300px;
    height: 400px;
}
/* End Content 2 */

/* Content 3 */
.content-3{
    color: #B9AFAF ;
    margin-top: 200px;
    margin-left: 80px;
}

.content-3 h2{
    font-family: oswald;
    font-size: 40pt;
    margin-right: 0;
}

.content-3 .line{
    margin-top: 35px;
    margin-right: 20px;
    width: 433px;
    height: 5px;
    background-color: #B9AFAF;
}

.content-3 .line-2{
    margin-top: 10px;
    margin-right: 20px;
    width: 350px;
    height: 3px;
    background-color: #B9AFAF;
}

.content-3 img{
    margin-top: 50px;
    width: 450px;
    height: 600px;
}

.content-3 .container{
    margin-top: 200px;
    margin-left: 30px;
}
/* End Content 3 */

/* Content 4 */

.content-4{
    color: #B9AFAF ;
    margin-top: 200px;
    margin-left: 80px;
}

.content-4 h2{
    font-family: oswald;
    font-size: 40pt;
    margin-right: 0;
}

.content-4 .line{
    margin-top: 35px;
    margin-right: 20px;
    width: 433px;
    height: 5px;
    background-color: #B9AFAF;
}

.content-4 .text{
    margin-top: 200px;
}